<div class="content" role="main">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile colspan="3" rowspan="1" style="background: lightblue">
      <app-child1-component
        [elements]="form1Elements$ | async"
      ></app-child1-component>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2" style="background: lightgreen">
      Coming soon
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="background: lightpink">
      Coming soon
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" style="background: #ddbdf1">
      <app-child2-component
        [elements]="form2Elements$ | async"
      ></app-child2-component>
    </mat-grid-tile>
  </mat-grid-list>
</div>
